<div class="jumbotron">
<h1>tracksIT</h1>
</div>
<% if user_signed_in? %>
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Article Title</h3>
					<h5>written by Dakota Barkwill</h5>
					<h5>on June 13, 2014</h5>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-body">
					<p>article content</p>
				</div>
			</div>
		</div>
	</div>
<% else %>
	<div class="row">
		<div class="col-md-4">
			<div class="jumbotron">
				<h2>keep track of devices</h2>
			</div>
		</div>
		<div class="col-md-4">
			<div class="jumbotron">
				<h2>manage documentation</h2>
			</div>
		</div>
		<div class="col-md-4">
			<div class="jumbotron">
				<h2>generate<br>reports</h2>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<h1><center>click above to login</center></h1>
		</div>
	</div>
<% end %>