<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">delete person?</h4>
      </div>
	  <div class="modal-body">
	    are you sure you wish to delete <b><%= @person.name %></b>?
	  </div>
	  <div class="modal-footer">
	  	<%= link_to "delete person", @person, method: :delete, remote: true, class: "btn btn-danger" %>
	    <%= link_to "cancel", "#", class: "btn", data: {dismiss: "modal"} %>
	  </div>
    </div>
</div>