<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<h1>Edit Person</h1>
				<hr class="hr-divide">
				<%= render 'form' %>
			</div>
		</div>
		<a href="<%= people_path %>" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back</a>
	</div>
</div>
<hr class="hr-divide">
