<div class="row">
  <div class="col-xs-12">
    <h1>people</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Extension</th>
            <th>Email</th>
            <th width="200">
              <div class="pull-right">
                <%= link_to new_person_path, class:"btn btn-default btn-xs", remote: true  do %>
                  <span class="glyphicon glyphicon-plus"></span>
                <% end %>
              </div>
            </th>
          </tr>
        </thead>
        <tbody id="people-index">
          <%= render 'index' %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<hr class="hr-divide">
<div class="modal fade" id="people-modal" tabindex="-1" role="dialog" aria-labelledby="people-modal" aria-hidden="true">
</div>
