<h1>Create Person</h1>

<hr class="hr-divide">

<%= render 'form' %>

<hr class="hr-divide">

<a href="<%= people_path %>" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back</a>
