<div class="row">
  <div class="col-xs-10">
    <h1>networks</h1>
  </div>
  <div class="col-xs-2">
    <div class="pull-right">
      <br>
      <%= link_to new_network_path, class:"btn btn-default", remote: true do %>
        <span class="glyphicon glyphicon-plus"></span>
      <% end %>
    </div>
  </div>
</div>
<br>
<div class="row" id="network-index">
  <%= render 'index' %>
</div>
<div class="modal fade" id="network-modal" tabindex="-1" role="dialog" aria-labelledby="network-modal" aria-hidden="true"></div>
