<h1>Create Article</h1>

<hr class="hr-divide">

<%= render 'form' %>

<hr class="hr-divide">

<a href="<%= articles_path %>" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back</a>

<hr class="hr-divide">
