<h1>Edit <% @device_group.name %></h1>

<%= render 'form' %>

<%= link_to 'Show', device_group_show_path(@device_group.name, @device) %> |
<%= link_to 'Back', device_types_path(@device_group.name) %>
