<div class="row">
  <div class="col-md-12">
    <h1>inventory items</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-9">
    <div id="inventory-item-index">
      <%= render 'index' %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <ul class="nav nav-stacked" role="tablist">
        <li class="active"><a href="#">Testing</a></li>
        <li><a href="#">Testing</a></li>
        <li><a href="#">Testing</a></li>
        <li><a href="#">Testing</a></li>
        <li><a href="#">Testing</a></li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="modal fade" id="inventory-item-modal" tabindex="-1" role="dialog" aria-labelledby="inventory-item-modal" aria-hidden="true">
</div>