<div class="row">
  <div class="col-md-12">
    <h1>All Wiki Pages</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <table class="table">
        <thead>
          <tr>
            <th>Page Name</th>
            <th>Created</th>
            <th>Edited</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
          <% @pages.each do |page| %>
            <tr>
              <td><%= link_to page.page_name, wiki_show_path(page.page_reference) %></td>
              <td><%= page.created_at.to_time.strftime("%-m-%-d-%Y") %></td>
              <td><%= page.updated_at.to_time.strftime("%-m-%-d-%Y") %></td>
              <td>Administrator</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
