<tr>
  <td><%= text_field_tag 'loan[loan_line_items_attributes][replace][identifier]', nil, class:'form-control search' %></td>
  <td><%= text_field_tag 'loan[loan_line_items_attributes][replace][identifier]', nil, class:'form-control search' %></td>
  <td><%= text_field_tag 'loan[loan_line_items_attributes][replace][identifier]', nil, class:'form-control search' %></td>
</tr>
