<%= f.fields_for :loan_line_items, LoanLineItem.new, :child_index => child_index do |li| %>
	<tr>
		<td><%= li.text_field :identifier, class:'form-control search' %></td>
		<td><%= li.text_area :description, class:'form-control' %></td>
		<td><%= li.text_field :quantity, class:'form-control' %></td>
	</tr>
<% end %>