<div class="row">
  <div class="col-md-12">
    <h1>Loans</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="loan-index">
      <%= render 'index' %>
    </div>
  </div>
</div>
<br>
<div class="modal fade" id="loan-modal" tabindex="-1" role="dialog" aria-labelledby="loan-modal" aria-hidden="true">
</div>
