<br>
<% @device_group.attrs.each do |attrb| %>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<strong><%= link_to attrb.name, attrb, remote: true %></strong>
				</h4>
			</div>
		</div>
	</div>
<% end %>