<h1>Edit Device Group</h1>

<hr class="hr-divide">

<%= render 'form' %>

<hr class="hr-divide">

<a href="<%= admin_device_groups_path %>" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back</a>
