/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require dataTables/jquery.dataTables.bootstrap3
 *= require_self
 */

body{
	padding-top: 70px;
	background-color: #EEEEEE !important;
}

.hr-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

.panel-heading a {
	color: black;
}

ul.nav-stacked a {
	color: black;
}

ul.nav-pills li.active {
	background-color: white !important;
}

.nav-pills > li.active > a {
	background-color: #545454 !important;
}

.btn-inverse {
	color: white;
	background-color: #545454 !important;
	border-color: #cccccc;
}

.btn-inverse:hover {
	color: white;
	background-color: black !important;
}

.search-form {
	background-color: #222222 !important;
	padding: 20px;
	padding-bottom: 80px;
	margin-top: -35px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 2px 2px 5px #888888;
}

.panel-shadowed {
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
}

.search-form label {
	color: white;
}

.bs-docs-sidebar .nav>li>a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #999;
}
/* color: 563d7c */
.bs-docs-sidebar .nav>li>a:hover, .bs-docs-sidebar .nav>li>a:focus {
    padding-left: 19px;
    color: #222222;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #222222;
}
.bs-docs-sidebar .nav>.active>a, .bs-docs-sidebar .nav>.active:hover>a, .bs-docs-sidebar .nav>.active:focus>a {
    padding-left: 18px;
    font-weight: 700;
    color: #222222;
    background-color: transparent;
    border-left: 2px solid #222222;
}
.bs-docs-sidebar .nav .nav {
    padding-bottom: 10px;
}
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400;
}

.bs-docs-sidebar .nav .nav>li>a:hover, .bs-docs-sidebar .nav .nav>li>a:focus {
    padding-left: 29px;
}
.bs-docs-sidebar .nav .nav>.active>a, .bs-docs-sidebar .nav .nav>.active:hover>a, .bs-docs-sidebar .nav .nav>.active:focus>a {
    padding-left: 28px;
    font-weight: 500;
}

@import 'bootstrap'