/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require dataTables/jquery.dataTables.bootstrap3
 *= require_self
 */

body{
	padding-top: 70px;
	background-color: #EEEEEE !important;
}

.hr-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

.panel-heading a {
	color: black;
}

ul.nav-stacked a {
	color: black;
}

ul.nav-pills li.active {
	background-color: white !important;
}

.nav-pills > li.active > a {
	background-color: #545454 !important;
}

.btn-inverse {
	color: white;
	background-color: #545454 !important;
	border-color: #cccccc;
}

.btn-inverse:hover {
	color: white;
	background-color: black !important;
}

.search-form {
	background-color: #222222 !important;
	padding: 20px;
	padding-bottom: 80px;
	margin-top: -35px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 2px 2px 5px #888888;
}

.search-form label {
	color: white;
}


@import 'bootstrap'