/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

$font-size-base: 12px;

.icon-list li {
  padding: 0 0 5px 20px;
  display: block;
  position: relative;
}
.icon-list li:before {
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: 0px;
  top:0px;
  padding-right: 10px;
}
.chevron-right li:before {
 content: '\e080';
}

.checkmark li:before {
 content: '\e013';
 color: green;
 margin-right: 10px;
}

.arrow-right li:before {
 content: '\e092';
}

h3 {
	padding-top:0px;
	margin-top:0px;
}

.small {
	color: grey;
	margin-left: 10px;
}

.table th, .table td { 
     border-top: none; 
 }

.label-Passed {
  @extend .label-success
}

.label-Failed {
  @extend .label-danger
}

.label-Upgraded {
  @extend .label-primary
}
.label-Warning {
  @extend .label-warning
}

table {
  width: 100%;
}

 @import 'bootstrap';