<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">delete property?</h4>
      </div>
	  <div class="modal-body">
	    Are you sure you wish to delete <b><%= @property.name %></b>? This action is not recommeneded if there are any device groups linking to this property.<br><br>
	    <% if @property.device_groups.count > 0 %>
		    Currently, the following device groups are utilizing this property:
		    <ul>
			    <% @property.device_groups.each do |group| %>
			    	<li><%= group.name %></li>
			    <% end %>
		    </ul>
	    <% end %>
	  </div>
	  <div class="modal-footer">
	  	<%= link_to "delete property", admin_property_path(@property), method: :delete, remote: true, class: "btn btn-danger" %>
	    <%= link_to "cancel", "#", class: "btn", data: {dismiss: "modal"} %>
	  </div>
    </div>
</div>